@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sriracha', cursive;
  background-color: #181818;
}

.search-div {
  text-align: center;
}

.search-div h2 {
  color: #eeebea;
}

.search-div input {
  border: none;
  padding: 12px;
  background-color: #eeebea;
}

.search-div button {
  top: 2px;
  position: relative;
  left: -7px;
  padding: 10px 15px;
  border-radius: 0 12px 12px 0;
  border: none;
  background-color: #a17626;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.anime-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  margin-top: 10px;
  gap: 10px;
}

.card {
  margin: auto;
  box-shadow: 2px 4px 8px rgba(255, 255, 255, 0.3);
  width: 90%;
  border-radius: 12px;
  transition: 0.3s ease all;
  background-color: #eeebea;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 2px 4px 8px rgba(255, 255, 255, 0.5);
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.card-content {
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
}

@media (max-width: 992px) {
  .anime-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .anime-cards {
    grid-template-columns: 1fr;
  }
}